/* common */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
  color: #22577a;
}

h1 {
  font-size: 24px;
  padding: 8px;
}

h2 {
  font-size: 20px;
}

p {
  margin: 0;
  line-height: 1.6;
}

p+p {
  margin-top: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: bottom;
  object-fit: contain;
}


.container {
  width: calc(100% - 32px);
  margin: 0 auto;
  outline: 2px solid red;
  max-width: 800px;
}

.animate {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity .3s, transform .3s;
}

.animate.slide-from-left {
  transform: translateX(-40px);
}

.animate.slide-from-right {
  transform: translateX(40px);
}

.animate.appear {
  opacity: 1;
  transform: none;
}

#to-top {
  position: fixed;
  bottom: 16px;
  right: 16px;
  opacity: 0;
  transition: opacity .3s;
}

#to-top.scrolled {
  opacity: 1;
}

#to-top i {
  font-size: 32px;
  color: #22577a;
}

/* header */

header h1:hover {
  background: #f2f2f2;
}

header {
  background: #c8f0fd;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color .3s, box-shadow .3s;
  z-index: 1;
}

header.scrolled {
  background-color: rgba(255, 255, 255, .90);
  box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

header .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* menu */

.sp-menu {
  margin-left: auto;
  padding: 8px;
}

.sp-menu #open {
  font-size: 32px;
  line-height: 64px;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, .95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 32px;
  right: 32px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.pc-menu {
  display: none;
}

/* hero */

.hero {
  background-color: #99e6ff;
  padding-top: 128px;
  text-align: center;
}

.hero h1 {
  padding-top: 128px;
}

.hero p {
  padding-top: 60px;
  padding-bottom: 60px;
}

.hero i {
  font-size: 160px;
  color: green;
}

/* slide  */

.slide {
  margin-top: 100px;
  height: 800px;
  width: 60%;
}

.slide img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}

.slide img.current {
  opacity: 1;
}

/* book */

.book {
  padding: 64px 0;
  overflow: hidden;
}

.book h1 {
  text-align: center;
  padding-bottom: 64px;
}

.book .pic {
  padding: 32px;
}

.book img {
  width: 100%;
}

.book h2 {
  padding: 20px 0 ;
  text-align: center;
}

.book p {
  text-align: center;
}

.book section+section{
  margin-top: 40px;
}

/* food */

.food {
  background: #99e6ff;
  padding: 64px 0;
}

.food h1 {
  text-align: center;
  padding-bottom: 64px;
}

.food p{
  width: 100%;
  word-wrap: break-word;
  min-width: 0;
  /* overflow: hidden; */
}

.food section {
  background: #fff;
  padding: 16px;
  border-radius: 16px;
}

.food footer {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 16px;
}

.food section+section {
  margin-top: 16px;
}

/* greeting */

.greeting {
  padding: 32px 0;
  background-color: #1ac3f7;
}

.greeting h1 {
  text-align: center;
  font-size: 16px;
}

/* copyright */

.copyright {
  background: #326c89aa;
  padding: 16px 0;
  text-align: center;
}

.copyright small {
  font-size: 8px;
  color: #eee;
}

/* large screen */

@media (min-width: 600px) {

  .hero .container {
    display: flex;
    align-items: center;
  }

  .hero .desc,
  .hero .pic {
    width: 100%;
  }

  .hero .desc {
    padding: 0;
  }

  .hero img {
    width: calc(100% - 32px);
    height: auto;
    margin-top: 0;
  }

  .book section {
    display: flex;
    gap: 16px;
  }

  .book section:nth-child(odd){
    flex-direction: row-reverse;
  }

  .book .desc,
  .book .pic {
    width: 100%;
  }

  .book .pic {
    padding: 0;
  }

  .food .container {
    display: flex;
    gap: 16px;
  }

  .food section+section {
    margin-top: 0;
  }

  .food section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: auto;
    word-wrap: break-word;
    min-width: 0;
  }

  .animate.delay {
    transition-delay: .3s;
  }

  .animate.delay-more {
    transition-delay: .6s;
  }

  /* hamburger */
  
  .pc-menu {
    display: block;
    margin-left: auto;
  }

  .pc-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .pc-menu a {
    font-size: 12px;
    display: block;
    width: 120px;
    line-height: 64px;
    text-align: center;
  }

  .pc-menu a:hover {
    background: #f2f2f2;
    color: aqua;
  }

  .sp-menu {
    display: none;
  }

}